# log files
*.log

# OSX dir files
.DS_Store
.idea
.idea/workspace.xml

# pyc files
*.pyc

# output file
*.pdf
*.png

# shell file
*.sh

# add models folder not content
/venv/
/dataset/**/*.*
!/dataset/.gitkeep